
Flask
Flask-WTF
Flask-Login
Flask-Caching
Flask-SQLAlchemy
Celery
redis

SQLAlchemy

transformers
coqui-TTS
langdetect
pdf2image
pytesseract
Pillow
python-docx
PyMuPDF

soundfile
librosa
pydub

pyhanko
cryptography

nltk
numpy
inflect

Flask
flask-login
flask-wtf
flask-sqlalchemy
flask-caching
Celery
langdetect
transformers
nltk
coqui-TTS
torch
fitz
python-docx
pytesseract
pydub
librosa
soundfile
Pillow
inflect
pycryptodome
cryptography
